.text-white{
    color: white !important;
}

.w-100{
    width: 100% !important;
}
.select2{
    width: 100% !important;
}

.selection{
    display: block !important;
}

.select2-search__field{
    height: 18px !important;
}
.loading{
    height: 25px;
    position: absolute;
    left: 5px;
}

.margin-top-6 {
    margin-top: 60px !important;
}
.comment-actions{
    float: left;
    margin-top: 25px;
}
