<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests/Unit" />
        <option value="$PROJECT_DIR$/tests/Feature" />
        <option value="$PROJECT_DIR$/modules/Cyaxaress/User/Tests/Feature" />
        <option value="$PROJECT_DIR$/modules/Cyaxaress/User/Tests/Unit" />
        <option value="$PROJECT_DIR$/modules/Cyaxaress/Category/Tests/Feature" />
        <option value="$PROJECT_DIR$/modules/Cyaxaress/Course/Tests/Feature" />
        <option value="$PROJECT_DIR$/modules/Cyaxaress/RolePermissions/Tests/Feature" />
      </list>
    </option>
  </component>
</project>